@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

:root {
    --orange: #f9a02c;
    --light-orange: #ffc368;
    --purple: #110011;
    --gray: #1a1a1a;
    --white: #FFF;
    --black: #0000;

    --font-family: "Arvo", sans-serif;

    --mobile-bp: 575px;
    --tablet-bp: 765px;
    --pc-bp: 995px;
}

* {
    font-family: var(--font-family);
}

body {
    background-color: var(--gray);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px;
}

header img {
    width: 90px;
}

nav {
    height: 180px;
    width: 100%;
    background-color: var(--orange);
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33.3%;
    width: 100%;
}

li a {
    color: var(--white);
}

li a::first-letter {
    text-transform: capitalize;
}

main {
    width: 100%;
    height: auto;
}

.purple--container {
    padding: 0px 15px;
}

.purple--wrapper {
    background-color: var(--purple);
    padding: 15px;
    width: 100%;
}

.purple--wrapper h1 {
    color: var(--orange);
    text-transform: uppercase;
}

.purple--wrapper p {
    padding-top: 5px;
    padding-bottom: 15px;
    color: var(--white);
}

.purple--wrapper picture img {
    width: 90%;
    padding-bottom: 10px;
}
/* li:hover {
    background-color: var(--light-orange);
    color: var(--gray);
} */